{{> header}}


<div style="font-family: 'Arial', sans-serif; max-width: 1200px; margin: 0 auto;">
    <h3 style="text-align: center; color: #333; margin-bottom: 20px;">Lista de Productos</h3>

    <table style="width: 100%; border-collapse: separate; border-spacing: 0 15px;">
        <thead>
            <tr style="background-color: #4CAF50; color: white; text-align: left;">
                <th style="padding: 10px; border-radius: 10px 0 0 10px;">Título</th>
                <th style="padding: 10px;">Descripción</th>
                <th style="padding: 10px;">Precio</th>
                <th style="padding: 10px;">Código</th>
                <th style="padding: 10px;">Stock</th>
                <th style="padding: 10px;">Categoría</th>
                <th style="padding: 10px;">Estado</th>
                <th style="padding: 10px;">Imagen</th>
                <th style="padding: 10px; border-radius: 0 10px 10px 0;">Agregar</th>
            </tr>
        </thead>
        <tbody>
            {{#each result.payload}}
            <tr style="background-color: #f9f9f9; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                <td style="padding: 15px; border-radius: 10px 0 0 10px;">{{this.title}}</td>
                <td style="padding: 15px;">{{this.description}}</td>
                <td style="padding: 15px; color: #4CAF50; font-weight: bold;">${{this.price}}</td>
                <td style="padding: 15px;">{{this.code}}</td>
                <td style="padding: 15px;">{{this.stock}}</td>
                <td style="padding: 15px;">{{this.category}}</td>
                <td style="padding: 15px;">
                    {{#if this.status}}
                    <span style="color: green;">Activo</span>
                    {{else}}
                    <span style="color: red;">Desactivado</span>
                    {{/if}}
                </td>
                <td style="padding: 15px;">
                    {{#if this.thumbnail}}
                    <a href="{{this.thumbnail}}" target="_blank">
                        <img src="{{this.thumbnail}}" alt="img"
                            style="width: 50px; height: auto; border-radius: 5px;" />
                    </a>
                    {{else}}
                    <span style="color: #ccc;">No hay imagen</span>
                    {{/if}}
                </td>
                <td style="padding: 15px; text-align: center; border-radius: 0 10px 10px 0;">
                    <button class="cart-button" onclick="addToCart('{{this._id}}')"
                        style="background-color: #ff9800; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer;">
                        <i class="fas fa-shopping-cart cart-icon"></i> Agregar
                    </button>

                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="pagination" style="text-align: center; margin-top: 30px; font-size: 16px;">
        <span style="margin-right: 10px;">Limite por Página: {{result.limit}}</span><br>

        {{#if result.query}}
        <span style="display: block; margin: 10px 0;">Filtrado por: {{result.query}}</span>
        {{/if}}

        {{#if result.hasPrevPage}}
        <a href="?page={{result.prevPage}}&limit={{result.limit}}{{#if result.query}}&query={{result.query}}{{/if}}"
            style="margin-right: 20px; color: #4CAF50; text-decoration: none;">&larr; Anterior</a>
        {{/if}}

        <span>Página {{result.page}} de {{result.totalPages}}</span>

        {{#if result.hasNextPage}}
        <a href="?page={{result.nextPage}}&limit={{result.limit}}{{#if result.query}}&query={{result.query}}{{/if}}"
            style="margin-left: 20px; color: #4CAF50; text-decoration: none;">Siguiente &rarr;</a>
        {{/if}}
    </div>

    <script>
        function addToCart(productId) {
            const idCart = "66ba8f5329bdbe14c36848ed";
            fetch(`/api/carts/${idCart}/products/${productId}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                }
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.log("Error: ", error);
                });
        }

    </script>

</div>